<div class="chatHidden">
    <div class="close"></div>
    <div class="parg">
        <p>Chat</p>
    </div>
    <div class="chatBlock">
        <form class="chatForm">
            <label class="chatLabel">Name:</label>
            <input class="chatInput" type="text" ng-model="name"> </form>
        <div class="chatField">
            <div ng-repeat="b in chatMessages track by $index"> {{b}} </div>
        </div>
        <div class="text">
            <input type="text" class="textarea" ng-model="enterText">
        </div>
        <div class="start">
            <input type="button" value="Start" ng-click="start()"> 
        </div>
    </div>
</div>