<div class="container" ng-if="homeStatus">
     <div class="slider-outer">
         <img src="images/arrowLeft.png" class="prev" alt="prev" />
         <div class="slider-inner">
             <img src="images/1.png" class="active" />
             <img src="images/2.jpg" alt="Image">
             <img src="images/3.jpg" alt="Image">
             <img src="images/4.jpg" alt="Image">
             <img src="images/5.jpg" alt="Image">
             <img src="images/6.jpg" alt="Image">
         </div> 
         <img src="images/arrowRight.png" class="next" alt="next" /> 
     </div>
 </div>